<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lookin">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera.ar" android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Lookin"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <activity android:name="com.example.lookin.MainActivity2"/>

        <meta-data android:name="com.google.ar.core" android:value="required"/>

        <activity android:name="com.example.lookin.ImageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.lookin.ImageArFragment"></activity>
        <activity android:name="com.example.lookin.MainActivity"></activity>
        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />
        <meta-data
            android:name="com.google.ar.API_KEY"
            android:value="" />
    </application>

</manifest>